@media only screen and (min-width: 992px) {
  /* Home Page CSS  */
  .home-content {
    display: flex;
    justify-content: center;
    gap: 17rem;
  }
  .explore-btn {
    transition: box-shadow 400ms ease-out;
  }
  .explore-btn:hover {
    box-shadow: 0 0 0 5rem #bbbcc0ce;
  }

  /* Destination Page CSS  */

  .content {
    display: flex;
    justify-content: center;
    gap: clamp(10rem, 13vw, 25rem);
  }
  .visuals {
    align-items: flex-start;
    justify-content: center;
  }
  .planet-image {
    height: 30rem;
  }
  hr {
    width: 100% !important;
  }
  .planet-list li {
    cursor: pointer;
  }

  /* Crew Page CSS  */
  #crew-container {
    position: relative;
  }
  .crew-visuals {
    order: 2;
  }
  .crew-list {
    order: 3;
  }
  .crew-content {
    margin-top: 8rem;
    align-items: center;
  }
  .crew-visuals h3 {
    position: absolute;
    top: -5.5rem;
    left: 9vw;
  }
  .crew-image {
    height: 40rem;
  }
  .crew-list li {
    cursor: pointer;
  }
}

@media only screen and (min-width: 1280px) {
  /* Navbar CSS  */
  #navbar {
    margin-top: 2rem;
  }
  nav ul {
    padding-right: 15rem;
    height: 10rem;
    align-items: center;
    gap: 3rem;
  }
  nav ul li {
    padding: 0;
    width: 10vw;
    display: flex;
    justify-content: center;
  }
  nav ul li a {
    font-size: 1.4vw;
    display: flex;
  }
  .logo img {
    height: 3vw;
  }

  /* Home Page CSS  */
  #home-container {
    margin: 0;
  }
  .home-content {
    gap: 40rem;
    padding: 10rem;
  }
  .container-1 h2 {
    font-size: clamp(3rem, 2.5vw, 4rem);
  }
  .container-1 h1 {
    font-size: clamp(17rem, 12vw, 21rem);
  }
  .container-1 p {
    font-size: 1.3vw;
    max-width: 80rem;
  }
  .explore-btn {
    width: clamp(28rem, 19vw, 34rem);
    height: clamp(28rem, 19vw, 34rem);
    font-size: 3rem;
    margin-right: 2rem;
  }

  /* Destination Page CSS  */
  .dest-content {
    margin-top: 7rem;
  }
  .visuals h3 {
    font-size: 2.7rem;
  }
  .planet-image {
    height: 40rem;
  }
  .details {
    align-items: flex-start;
  }
  .planet-name {
    font-size: 10rem;
  }
  .desc {
    text-align: start;
    padding: 0;
    font-size: 1.3vw;
    letter-spacing: 0.15rem;
  }
  .info {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .travel-time {
    margin: 0;
  }

  /* Crew Page CSS  */
  .crew-content {
    margin-top: 2rem;
  }
  .crew-visuals hr {
    display: none;
  }
  .crew-image {
    height: 80vh;
  }
  .position {
    font-size: clamp(4rem , 3vw , 6rem);
  }
  .crew-name {
    font-size: clamp(6rem , 4vw , 7rem);
  }
  .crew-visuals h3 {
    top: -3.5rem;
    left: 10vw;
  }
}
