/* CSS Reset  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px*/
}

/* CSS Variables */
:root {
  --primary-font: "Barlow Condensed", sans-serif;
  --secondary-font: "Bellefair", serif;
  --light-color: #d0d6f9;
}

/* Navbar CSS */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  position: relative;
  height: 9rem;
}
.logo img {
  height: 3.6rem;
}
.nav-toggler {
  height: 2rem;
}
nav ul {
  position: absolute;
  top: 8rem;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  transform: scale(0);
  transition: 0.5s;
}
nav ul li {
  text-transform: uppercase;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: var(--primary-font);
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 8rem;
}
nav ul li:hover {
  border-bottom: 2px solid white;
}
.nav-active {
  border-bottom: 2px solid white;
}
.nav-link-active {
  transform: scale(1);
}

/* Home Page CSS  */

#home-container {
  margin-top: 3rem;
  color: white;
  font-family: var(--primary-font);
}
.container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.container-1 h1 {
  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-size: 8rem;
  font-size: clamp(6rem, 17vw, 8rem);
}
.container-1 h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--light-color);
  font-weight: lighter;
  letter-spacing: 0.3rem;
  font-size: clamp(1.5rem, 5vw, 3.5rem);
}
.container-1 p {
  max-width: 48rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 2rem;
  line-height: 1.6;
  color: var(--light-color);
  font-size: clamp(1.5rem, 3vw, 1.8rem);
}
.container-2 {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}
.explore-btn {
  background-color: #fff;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font);
  color: #000;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2rem;
}

/* Destination Page CSS  */
#dest-container {
  color: white;
  margin-top: 3rem;
  padding-bottom: 2rem;
}
.planet-visuals {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-family: var(--primary-font);
}
.planet-visuals h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.planet-visuals .index {
  margin-right: 1rem;
  color: var(--light-color);
}
.planet-image {
  height: 19rem;
}
.planet-details {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.planet-list {
  display: flex;
  gap: 2.2rem;
  list-style: none;
}
.planet-list li {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.23rem;
  border-bottom: 2px solid #fff;
  padding: 0 1rem;
  color: var(--light-color);
}
.planet-name {
  font-family: var(--secondary-font);
  font-size: 5.6rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.planet-desc {
  max-width: 48rem;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 1.5rem;
  padding: 0 2rem;
  line-height: 1.6;
  color: var(--light-color);
  font-size: clamp(1.5rem, 3vw, 1.8rem);
}
.seperator{
  width: 80vw;
  border-top: 1px solid #ffffff45;
}
.planet-info{
 text-align: center;
 font-weight: lighter;
 text-transform: uppercase;
}
.planet-info p:nth-child(1){
  font-family: var(--primary-font);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}
.planet-info p:nth-child(2){
  font-family: var(--secondary-font);
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
}
