/* CSS Reset  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem = 10px*/
}

/* CSS Variables */
:root {
    --primary-font : "Barlow Condensed", sans-serif;
    --secondary-font: "Bellefair", serif;
}